*{
    padding: 0%;
    margin: 0%;
   
    
}
nav{
    display: flex;
    justify-content: space-between;
}
.btn1{
    font-family: 'Indie Flower', cursive;
font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.btn2{
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding-right: 30px;
}
.aboutme{
    padding: 2.5rem;
}
h2{
    font-size: 2.5rem;
}
.info1{
    font-size: 1.7rem;
}
.project1{
    display: flex;
    justify-content: left;
}
/* footer--------------------------------------------------------------------- */
.namesahu{
  display: flex;
  justify-content: center;
}
span{
  text-align: center;
  padding: 5px;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  border: 2px solid wheat;
  margin: 5px;
  background-color: black;
  color: cornflowerblue;
  border-radius: 15px;
}
.contact{
  display: flex;
  justify-content: center;

}
.img1{
  width: 3rem;
  padding: 3rem;
  padding-bottom: 0.2rem;
}
.img2{
  width: 4rem;
  padding: 2.5rem;
  padding-bottom: 0.2rem;

}
footer{
background-color: cornflowerblue;

}
.fotnav{
  display: flex;
  justify-content: center;
}
.link5{
  text-decoration: none;
  color: black;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.iframe1{
  border: 5px solid rgb(0, 0, 0);
  margin: 2rem;
}
.iframe11{
  display: grid;
  justify-content: center;
  border: 5px solid black;
  margin: 2px;
  margin-top: 2rem;
  
}
.bookpad{
  text-align: center;
  border: 2px solid black;
}
.menu{
  display: none;
}
.k19{
  display: flex; 
  flex-wrap:wrap; 
  justify-content: space-evenly;
}

@media screen and (max-width: 920px) {
  .menu{
    display: block;
  }
  .menu1{
    display: flex;
    justify-content: end;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .nav2 {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .dropdown:hover .nav2 {
    display: grid;
    justify-content: end;
  }
  
}
/* @media screen and (max-width: 970px) {
  .k19{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
} */


